*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    text-align: center;
    padding-top: 300px;
    padding-bottom: 579px;
    background-color: aliceblue;
}
ul{
    list-style: none;
}
input{
    border: none;
    outline: none;
    height: 60px;
    width: 320px;
    padding: 0 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
}
input::placeholder{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
}
button {
    border: 1px solid red;
    color: white;
    background-color: red;
    padding: 14px 26px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    outline: 0;
}
button:hover{
    background-color: rgb(213, 5, 5);
}
.edit{
    margin-left: 5px;
    margin-top: 10px;
}
.delete{
    margin-left: 10px;
}
ul li{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: black;
}